 body {
            font-family: sans-serif;
            text-align: center;
        }

        input {
            margin-top: 10px;
            padding: 5px;
          
        }

        button {
            padding: 5px;
            cursor: pointer;
        }

        #display-area {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid black;
            background-color: #d6c4db;
        }